{% extends "base.html" %}
{% load static %}
{% block title %} my information {% endblock %}
{% block content %}
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.3/jquery.js"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>

<div class="row text-center vertical-middle-sm">
    <h1>My information</h1>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4 text-right"><span>用户名：</span></div>
            <div class="col-md-8 text-left"><span>{{user.username}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>邮箱：</span></div>
            <div class="col-md-8 text-left"><span>{{user.email}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>生日：</span></div>
            <div class="col-md-8 text-left"><span>{{userprofile.birth}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>电话：</span></div>
            <div class="col-md-8 text-left"><span>{{userprofile.phone}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>毕业学校：</span></div>
            <div class="col-md-8 text-left"><span>{{userinfo.school}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>工作单位：</span></div>
            <div class="col-md-8 text-left"><span>{{userinfo.company}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>职业：</span></div>
            <div class="col-md-8 text-left"><span>{{userinfo.profession}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>地址：</span></div>
            <div class="col-md-8 text-left"><span>{{userinfo.address}}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>个人介绍：</span></div>
            <div class="col-md-8 text-left"><span>{{userinfo.aboutme}}</span></div>
        </div>
<a href="{% url 'account:my-information-edit' %}" class="">
    <button class="btn btn-primary btn-lg">edit my information</button>
</a>

    </div>
    <div class="col-md-3">
        {% if userinfo.photo %}
            <img src="{{ userinfo.photo|striptags }}" class="img-circle" id="my_photo" name="user_face"/>
        {% else %}
        <img src="{% static 'images/logo.jpg' %}"  class="img-circle" id="my_photo" name="user_face"/>
        {% endif %}
        <button class="btn btn-primary btn-lg" id="ipload_image" onclick="upload_image_layer()">
            upload my photo
        </button>
    </div>
</div>
<script>
    function upload_image_layer(){
        layer.open({
            title:"upload image",
            aera:['650px','600px'],
            type:2,
            content:"my-image",
        //    area: screen() < 2 ? ['90%', '80%'] : ['1280px', '720px'],
        area: screen() < 2 ? ['90%', '80%'] : ['80%', '80%'],
        })
    }
    function screen() {
        //获取当前窗口的宽度
	    var width = $(window).width();
	    if (width > 1200) {
	        return 3;   //大屏幕
	    } else if (width > 992) {
	        return 2;   //中屏幕
	    } else if (width > 768) {
	        return 1;   //小屏幕
	    } else {
	        return 0;   //超小屏幕
	    }
    }

</script>

{% endblock %}
