{% extends "article/base.html" %}

{% load static %}
{% load article_tags %}
{% block title %}articles list{% endblock %}

{% block content %}
{% with total_likes=article.users_like.count users_like=article.users_like.all %}
<link href="{% static 'quill/quill.snow.css' %}" rel="stylesheet">
<div class="container">
    <div class="col-md-8">
        <header>
            <h1>{{ article.title }}</h1>
            <p>{{ user.username }}</p>
            <span stype="margin-left:20px" class="glyphicon glyphicon-thumbs-up">{{total_likes}} like{{total_likes|pluralize }}</span>
            <span stype="margin-left:20px">{{article.users_view}} view{{article.users_view|pluralize }}</span>

        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}" />
        <div id='editormd-view'>
            <textarea id="append-test" style="display:none;">
    {{ article.body }}
    	    </textarea>
        </div>

        <!-- <div class="" id="qeditor">{{ article.body }}</div> -->
        <div>
            <p class="text-center">
                <a href="#" onclick="like_article({{article.id}},'like')">
                    <span class="glyphicon glyphicon-thumbs-up">like</span>
                </a>
                <a href="#" onclick="like_article({{article.id}},'unlike')">
                    <span class="glyphicon glyphicon-thumbs-down">unlike</span>
                </a>
            </p>
        </div>
        <div>
            <p class="text-center"><strong>liked users</strong></p>
            {% for user in article.users_like.all %}
                <p class="text-center">{{ user.username }}</p>
            {% empty %}
                <p class="text-center">nodoy liked yet</p>
            {% endfor %}
        </div>
        <hr>
        <div>
            <h3><span class="glyphicon plyphicon-bullhorn">has {{ article.comment.count }} comments</span></h3>
        </div>
        {% for comment in comments %}
            <p><strong>{{ comment.commentator.username }} :</strong></p>
            <p style="margin-left:40px"> {{ comment.body }}</p>
        {% empty %}
            <p>No comment</p>
        {% endfor %}

        <h3><span class="glyphicon glyphicon-send">please leave some comments</span></h3>
        <form class="form-horizontal" action="" method="post" role="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment_body" class="col-sm-2 control-label">comment</label>
                <div class="col-sm-10">{{ comment_form.body }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p><input type="submit" name="" value="make comment" class="btn btn-primary"></p>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <p class="text-center"><h3>most viewd posts</h3></p>
        <ol>
            {% for rank in top5 %}
                <li>
                    <a href="{{ rank.get_absolute_url }}">{{ rank.title }}</a>
                </li>
            {% endfor %}
        </ol>
        <hr>
        <p class="text-center"><h3>latest articles</h3></p>
        {% latest_articles 4 %}

        <hr>
        <p class="text-center"><h3>most commented</h3></p>
        {% most_commented_articles as most_comments %}
        <ul>
            {% for comment_article in most_comments %}
                <li><a href="{{ comment_article.get_absolute_url }}">{{ comment_article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>


</div>
<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}''></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>
<script src="{% static 'quill/quill.js' %}"></script>

<script type="text/javascript">
$(function(){
	editormd.markdownToHTML("editormd-view", {
        htmlDecode      : "style,script,iframe",  // you can filter tags decode
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });


});
function like_article(id,action){
    $.ajax({
        url:"{% url 'article:like-article' %}",
        type:"POST",
        data: {"id":id,"action":action},
        success:function(e){
            layer.msg(e.notice);
            window.location.relaod();
        },
    });
}
</script>
{% endwith %}
{% endblock %}
