<div class="bg-info">
    <div class="text-center" style="margin-top:5px">
        <p><a href="{% url 'article:article-column' %}">栏目管理</a></p>
        <p><a href="{% url 'article:article-post' %}">post article</a></p>
        <p><a href="{% url 'article:article-list' %}">post lists</a></p>
        <p><a href="{% url 'article:article-tag' %}">tag管理</a></p>
    </div>
    <hr>
    <div class="text-center"  style="margin-top:5px">
        <p>
            <h4>images</h4>
        </p>
        <p><a href="{% url 'image:list_images' %}">images</a></p>
    </div>
    <hr>
    <div class="text-center"  style="margin-top:5px">
        <p>
            <h4>courses</h4>
        </p>
        <p><a href="{% url 'course:manage-course' %}">manage courses</a></p>
        <p><a href="{% url 'course:create-lesson' %}">create lessons</a></p>
    </div>
</div>
